* {
	margin: 0;
	padding: 0;
}

html {
	background: url(assets/png/noise.png) repeat center center fixed;
	/*
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
}

.top {
	display: flex;
	width: 100vw;
}

.logo, .top-p2{
	position: absolute;
}

.logo{
	left: 0;
	margin-left: 3vw;
}

.top-p2 {
	right: 0;
	margin-right: 3vw;
}