* {
	margin: 0;
	padding: 0;
}

html {
	background: url(assets/png/noise.png) repeat center center fixed;
	/*
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
}

.top {
	display: flex;
	width: 100vw;
	margin-top: 4.3vh;
	mix-blend-mode: exclusion;
}

.logo,
.top-p2 {
	position: absolute;
}

.logo {
	left: 0;
	margin-left: 3vw;
	height: 3.3vh;
}

.about,
.resume {
	height: 3.3vh;

}

.about{
	margin-right: 4.6vw;
}

.top-p2 {
	right: 0;
	margin-right: 3vw;
}

.heading{
	width: 94vw;
	margin-left: 3vw;
}